<div class="brokerContainer">
  <h2>{{brokerService.messageStatus}}</h2>

  <form [formGroup]="loginForm" *ngIf="!brokerService.isConnected">
    <div class="form-group">
      <label for="username">Usuário:</label>
      <input type="text" id="username" formControlName="username" />
    </div>

    <div class="form-group">
      <label for="password">Senha:</label>
      <input type="password" id="password" formControlName="password" />
    </div>


  </form>

  <button mat-raised-button color="primary" *ngIf="!brokerService.isConnected" [disabled]="loginForm.invalid"
    (click)="connectToBroker()">Conectar</button>


  <a *ngIf="brokerService.isConnected" class="card" target="_blank" rel="noopener" (click)="mudarLed()">
    <svg class="material-icons " [ngClass]="{'icon-red': ledState===1}" xmlns="http://www.w3.org/2000/svg" width="24"
      height="24" viewBox="0 0 24 24">
      <path
        d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z" />
    </svg>

    <span>Mudar Led</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </a>

</div>


<div class="controlerContainer">
  <div class="linha north">
    <button mat-fab (touchstart)="goMotors('aheadLeft')"
      (touchend)="goMotors('stop')" (mousedown)="goMotors('aheadLeft')" (mouseup)="goMotors('stop')">

    </button>
    <button mat-fab  (mousedown)="goMotors('ahead')"
      (mouseup)="goMotors('stop')" (touchstart)="goMotors('ahead')" (touchend)="goMotors('stop')">
    </button>
    <button mat-fab  (mousedown)="goMotors('back')"
      (mouseup)="goMotors('stop')" (touchstart)="goMotors('back')" (touchend)="goMotors('stop')">
    </button>
  </div>

  <div class="linha center">
    <button mat-fab  (mousedown)="goMotors('left')"
      (mouseup)="goMotors('stop')" (touchstart)="goMotors('left')" (touchend)="goMotors('stop')">
    </button>

    <button mat-fab  (mousedown)="goMotors('right')"
      (mouseup)="goMotors('stop')" (touchstart)="goMotors('right')" (touchend)="goMotors('stop')">

    </button>
  </div>

</div>

<div class="controler noselect">
  <div class="zone">
    <ngx-joystick #staticJoystic [options]="staticOptions" (start)="onStartStatic($event)" (end)="onEndStatic($event)"
      (move)="onMoveStatic($event)"></ngx-joystick>
  </div>
  <div *ngIf="staticOutputData" class="zone-absolute">
    <div>Motor state: {{ motorState}}</div>
    <div>distance: {{ staticOutputData.distance }}</div>
    <div>angle: {{ staticOutputData.angle.degree | number:'3.5-5'}}</div>  </div>
</div>
